<!DOCTYPE html>
<html lang="es">
    <%- include('../includes/head.ejs') %> 
       
<body>
    <%- include("../includes/header") %> 
<main>
 <section>
     <h2>CREAR Y MODIFICAR</h2>
 </section>
 <section>
     <form action="/products/" method="post"></form>
     <label for="origen">
         <input type="text" name="origen" id="origen" placeholder="ORIGEN DE CAFE">
     </label>
     <label for="tipoDeGrano">
        <input type="text" name="tipoDeGrano" id="tipoDeGrano" placeholder="TIPO DE GRANO">
    </label>
    <label for="cantidad">
        <input type="number" name="cantidad" id="cantidad" placeholder="CANTIDAD" min="0">
    </label>
    <label for="precio">
        <input type="number" name="precio" id="precio" placeholder="PRECIO" min="0">
    </label>
    <label for="imagen">
        <input type="file" name="imagen" id="imagen" >
    </label>
    <fieldset>
        <button type="submit">ENVIAR</button>
    </fieldset>
 </section>

</main>

<%- include("../includes/footer") %> 
</body>
</html>    

