@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 

footer{
    background-color: #432818;
    font-family: 'Cinzel', serif;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contendorQr{
    padding: 1em;
}

.imagenQr{
    width: 9em;
    
}

.footerEnlace{
    padding: 0.5em;
    margin: 0;
    text-decoration: none;
    color: #ffe6a7;
    display: inline-block;
}

.footernav1{
    width: 10em;
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.footernav{
    width: 10em;
    list-style: none;
    font-size: 2em;
    text-align: center;
}

.fa-whatsapp-square{
font-size: 4em;
color: #ffe6a7;
cursor: pointer;
}

.fa-facebook-square{
    font-size: 4em;
    color: #ffe6a7;
    cursor: pointer;
}

.fa-instagram-square{
    font-size: 4em;
    color: #ffe6a7;
    cursor: pointer;
}

.footertexto{
font-size: 1.5em;
color: #ffe6a7; 
display: none;
}

.footericonos{
    width: 20em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    gap: 2em;
}

@media (min-width: 768px) {


    .footer{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    
    .footernav1{
        width: 24em;
        list-style: none;
        font-size: 1.2em;
    }
    
    .footernav{
        width: 12em;
        list-style: none;
        font-size: 1.2em;
    }
    
    .footerEnlace{
        padding: 1em 1em;
        margin: 1em;
        text-decoration: none;
        color: #ffe6a7;
        display: inline-block;
    }

    .footertexto{
        font-size: 1.5em;
        color: #ffe6a7; 
        display: none;
        }
        
        .footericonos{
            width: 40em;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-around;
            cursor: pointer;
            gap: 0;
        }
        

}

@media (min-width: 1300px) {


    .footertexto{
        font-size: 1.5em;
        color: #ffe6a7; 
        display: block;
        }
        




}