@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #432818;
    font-family: 'Cinzel', serif;
}


.headerPrincipal{
    background-color: #432818;
    height: 5.5em;
    width: 100%;
    flex-direction: column;
    }

   
.headerPrincipal:hover{
    
    transition: 0.5s;
}

.iconos{
    padding: 2em;
    position: absolute;  
    left: 40%;

}

#lienlace,.enlaces{
   
   color: #ffe6a7;
    align-items: center;
    display: flex;
    padding: 0 0.1em;
    font-size: 18px;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s linear;
    order: 0;
    margin-right: 0;
    height: 1.4em;
    
}
.headerEnlaces{
    height: 55em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4em;
    padding:4em;
    background-color: #432818;
    position: absolute;
    width:100%;
    left: -50em;
    transition: all 0.5s linear
    
}
 .nav-li{
     left: 0em; 
       
}


.contenedorelementos1,.contenedorelementos2{
    flex-grow: 1;
   
}

.contenedorelementos2{
    background-color: #432818;
    border: none;
    order: 3;
}


.logo{
    width: 6em;
    height: 5em;
}


.fa-cart-shopping{
font-size: 2.1em;
color: #ffe6a7;

}
   

.fa-circle-user{
    font-size: 2.1em;
    color: #ffe6a7;
    
}
.fa-bars{
color: #ffe6a7;
    padding: 10px;
    font-size: 3em;
    cursor: pointer;
    position: absolute;
    background-color:  #432818;
    right: 53px;
    top: 11px;
    height: 1.5em;
}



.imglogin{
    margin-right: 1em;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}



@media (min-width: 768px) {

    header {

        font-family: 'Cinzel', serif;
    }
    .contenedorelementos2{
        flex-grow: 0;
       display: none;
    }
    .contenedorelementos1{
        flex-grow: 0;
       
    }
    .burger-menu{
         display: none;
    }
    
    .fa-bars{
        display: none;
    }



    .headerPrincipal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        height: 5.5em;
        position: relative;
    }
    .headerEnlaces{
    
        height: 3em;
        display: flex;
        flex-direction: row;
        gap: 1em;
        padding: 1em;
        background-color: #432818;
        position: relative;
        width: 30%;
        left: 0;
        transition: all 0.5s linear;
        justify-content: center;
    }
    #lienlace,.enlaces{
        
        display: inline-block;
        padding: 0 0.1em;
        font-size: 18px;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.5s linear;
        order: 0;
        margin-right: 0;
        height: 1.4em;
        
    }
    
    .enlaces:hover{
        border-bottom: solid  3px #f5f2eb;
        padding: 0 1.1em;
        }
        
        
        .logo{
            width: 6em;
            height: 5em;
        }
        
        
        .fa-cart-shopping{
        font-size: 2.1em;
        color: #ffe6a7;
        
        }
        
        .fa-circle-user{
            font-size: 2.1em;
            color: #ffe6a7;
            
        }

        .iconos {
            padding: 1em;
            font-size: 1em;
            position: inherit;
        }

        .imglogin{            
            width: 3.5em;
            height: 3.5em;
        }

    }

@media (min-width: 1300px) {


    header {
       
        font-family: 'Cinzel', serif;
    }
    .contenedorelementos2{
        flex-grow: 0;
       display: none;
    }
    .contenedorelementos1{
        flex-grow: 0;
       
    }
    .burger-menu{
         display: none;
    }
    
    .fa-bars{
        display: none;
    }

    .iconos {
        padding: 1em;
        font-size: 20px;
    }

  

    .headerPrincipal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        
    }

    #lienlace,.enlaces{
        color: #ffe6a7;
        display: inline-block;
        padding: 0 1em;
        font-size: 1.1em;
        list-style: none;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.5s linear;       
        order: 0;
        margin-right: 0;
        height: 1.4em;
    }
    
    .enlaces:hover{
        border-bottom: solid  1px #302c2b;
        padding: 0 1.1em;
        }
        
        
        .logo{
            width: 6em;
            height: 5em;
        }
        
        
        .fa-cart-shopping{
        font-size: 2.1em;
        color: #ffe6a7;
        
        }
        
        .fa-circle-user{
            font-size: 2.1em;
            color: #ffe6a7;
            
        }
}

