@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: #6f1d1b;
    font-family: 'Cinzel', serif;
}

.headerPrincipal{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.headerEnlaces,li,a,.enlaces{
    color: #ffe6a7;
    display: inline-block;
    padding: 0 1em;
    font-size: 1.1em;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s linear;
}

a.enlaces:hover{
border-bottom: solid  1px #ffe6a7;
padding: 0 1.1em;
}


.logo{
    width: 6em;
    height: 5em;
}


.fa-cart-shopping{
font-size: 2.1em;
color: #ffe6a7;

}

.fa-circle-user{
    font-size: 2.1em;
    color: #ffe6a7;
    
}