
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*--CUERPO--*/

main{
    background-color: #6f1d1b;
}

/*--CARRUCEL--*/

.contenedorgeneral{
    width: 100%;
    height: 27.8vw;
    overflow: hidden;
}

.contenedorcarrucel{
    display: flex;
    animation: carrufotos 15s infinite alternate ease;
    width: 300%;  
    font-family: 'Dancing Script', cursive;
}

.carrucelitem {
    width: 100%;
    list-style: none;
    padding: 0;
    position: relative;
}

.carrucelfoto{
    width: 100%;
    height: 40%;
}

@keyframes carrufotos {

    0% {margin-left: 0;}
    35% {margin-left: 0;}

    40% {margin-left: -100%;}
    70% {margin-left: -100%;}

    75% {margin-left: -200%;}
    100% {margin-left: -200%;}
    
}

.carruceltexto1{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 3vw;
    width: 60%;
    color: #ffe6a7;
    display: none;
}

.carruceltexto2{
    position: absolute;
    right: 1em;
    top: 1em;   
    font-size: 3vw;
    width: 34%;
    color: #ffe6a7;
    display: none;
}

.carruceltexto3{
    position: absolute;
    right: 1em;
    top: 3em;    
    font-size: 3vw;
    width: 40%;
   color: #432818;
   display: none;
}

.carruceltexto4{
    position: absolute;
    right: 0;
    top: 0.3em;   
    font-size: 7vw;
    width: 40%;
    color: #ffe6a7;
display: block;
}

.carruceltexto5{
    position: absolute;
    right: 1em;
    top: 0;   
    font-size: 7.4vw;
    width: 40%;
    color: #ffe6a7;
    display: block;
}

.carruceltexto6{
    position: absolute;
    right: 0;
    top: 0.4em;    
    font-size: 7.4vw;
    width: 40%;
   color: #432818;
    display: block;
}

/* FIN CARRUCEL */

/* INFORMACION DIBUJOS */

.contenedorinformacion{
    background-color: #ffff;
    display: flex;    
    justify-content: center;
    height: 38em;
    align-content: center;
    flex-direction: column;
}

.fotoimg{
width: 5em;
}

.tituloinformacion{
    font-family: 'Cinzel', serif;
    color: #6f1d1b;
    padding: 1em;
}

.textoinformacion2{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color:#6f1d1b;
    width: 100%;
}

.textoinformacion1{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;
    color:#6f1d1b;
    padding-top: 1em;
    background-color: #fff;
    text-align: center;
}

.imagengeneral{
    padding: 0.4em;
    text-align: center;
}

/* FIN INFORMACION DIBUJOS */

/* BANNER */

.contenedorbanner{
    display: flex;
    height: 100%;
    padding: 0;
    width: 100%;
    background-color: #fff;
    font-weight: bold;
    flex-direction: column;
    gap: 1em;
}


.banner1{
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.6)), url(../image/bolsafull2.jpg);    
    height: 40vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    
}

.banner2{
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.6)),url(../image/tazafull3.jpg);
    background-size: cover;
    height: 40vh;
    text-align: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.banner3{
    background-image: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.6)),url(../image/fondofull1.jpg);
    background-size: cover;
    height: 40vh;
    text-align: center;
    background-repeat: no-repeat;
    width: 100vw;
}

.banner1:hover{
    box-shadow:  0px 0px 15px rgb(70, 70, 70);
    
}
.banner2:hover{
    box-shadow:  0px 0px 15px rgb( 100 , 100 , 100 );
    
}

.banner3:hover{
    box-shadow:  0px 0px 15px rgb( 100 , 100 , 100 );
   
}


.bannerparrafo{    
    text-align: center;
    margin-top: 9em;
    
}


.bannertexto1{      
    font-size: 3em;
   color: #ae8647;
   list-style: none;
   text-decoration: none;
   font-family: 'Cinzel', serif;
   
}

.bannertexto2{         
    font-size: 3em;    
    color: #ae8647;
    list-style: none;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

.bannertexto3{   
    font-size: 3em;   
    color: #ae8647;
    list-style: none;
    text-decoration: none;
    font-family: 'Cinzel', serif;
}

/*--FIN BANNER -- */

/* NEWSLETTER */

.contenedorletter{
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #ffe6a7;
    font-size: 2em;
    padding: 0.5em;
    text-decoration: underline;
}


.correo{
    text-decoration: none;
    border: none;
    padding: 1em;
}

.oculto{
    display: none;
}

#email{
    padding: 1em;
    width: 90vw;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

.contenedorinputs{
    display: flex;
    padding-bottom: 2em;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.botonenviar{
 text-decoration: none;
    border: none;
    padding: 1em;
    
}

.enviar{
    padding: 0.6em;
    width: 8em;
    border-radius: 20px;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    color: #6f1d1b;
    background-color: #ffe6a7;
    transition: all 0.3s linear;
}

.enviar:hover{
    color: #ffe6a7;
    background-color: #432818;
}

/* FIN NEWSLETTER */

@media  (min-width: 768px)  {


    /*-- CARRUCEL--*/
   
.carruceltexto1{
    position: absolute;
    right: 1em;
    top: 1em;
    font-size: 3vw;
    width: 60%;
    color: #ffe6a7;
    display: none;
}

.carruceltexto2{
    position: absolute;
    right: 1em;
    top: 1em;   
    font-size: 3vw;
    width: 34%;
    color: #ffe6a7;
    display: none;
}

.carruceltexto3{
    position: absolute;
    right: 1em;
    top: 3em;    
    font-size: 3vw;
    width: 40%;
   color: #432818;
   display: none;
}

.carruceltexto4{
display: block;
}

.carruceltexto5{
    display: block;
}

.carruceltexto6{
    display: block;
}

/*-- FIN CARRUCEL--*/

/* INFORMACION DIBUJOS */

.contenedorinformacion{
    background-color: #ffff;
    display: flex;    
    justify-content: center;
    height: 24em;
    align-content: center;
    flex-direction: row;
}
.fotoimg{
    width: 9em;
    }

    .imagengeneral{
        padding: 2em;
        text-align: center;
    }
    
    .textoinformacion2{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        color:#6f1d1b;
        width: 90%;
    }

    /* FIN INFORMACION DIBUJOS */

    /* BANNER */

    .contenedorbanner{
        display: flex;
        height: 100%;
        padding: 0.5em;
        width: 100%;
        background-color: #fff;
        font-weight: bold;
        flex-direction: row;
        gap: 0.2em;
        justify-content: space-evenly;
    }

    .bannertexto1{      
        font-size: 2.5em;
       color: #ae8647;
       list-style: none;
       text-decoration: none;
       font-family: 'Cinzel', serif;
       
    }
    
    .bannertexto2{         
        font-size: 2.5em;    
        color: #ae8647;
        list-style: none;
        text-decoration: none;
        font-family: 'Cinzel', serif;
    }
    
    .bannertexto3{   
        font-size: 2.5em;   
        color: #ae8647;
        list-style: none;
        text-decoration: none;
        font-family: 'Cinzel', serif;
    }
    
    .bannerparrafo{    
        text-align: center;
        margin-top: 9em;
       
    }
    
/* -- FIN BANNER --*/

/* NEWSLETTER */ 
    
#email{
    padding: 1em;
    width: 45em;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.contenedorinputs{
    display: flex;
    padding-bottom: 2em;
    justify-content: center;
    flex-direction: row;
}

}


@media  (min-width: 1300px) {


    /*-- CARRUCEL--*/

    .carruceltexto1{
        position: absolute;
        right: 1em;
        top: 1em;
        font-size: 3vw;
        width: 60%;
        color: #ffe6a7;
        display: block;
    }
    
    .carruceltexto2{
        position: absolute;
        right: 1em;
        top: 1em;   
        font-size: 3vw;
        width: 34%;
        color: #ffe6a7;
        display: block;
    }
    
    .carruceltexto3{
        position: absolute;
        right: 1em;
        top: 3em;    
        font-size: 3vw;
        width: 40%;
       color: #432818;
       display: block;
    }
    
    .carruceltexto4{
    display: none;
    }
    
    .carruceltexto5{
        display: none;
    }
    
    .carruceltexto6{
        display: none;
    }
    
/*-- FIN CARRUCEL--*/

/* INFORMACION DIBUJOS */

.contenedorinformacion{
    background-color: #ffff;
    display: flex;    
    justify-content: center;
    height: 20em;
    align-content: center;
    flex-direction: row;
}

.fotoimg{
    width: 9em;
    }

    .imagengeneral{
        padding: 2em;
        text-align: center;
    }

    .textoinformacion2{
        font-family: 'Roboto', sans-serif;
        font-size: 1.4em;
        color:#6f1d1b;
        width: 90%;
    }
    
    /* FIN INFORMACION DIBUJOS */

       /* BANNER */

       .contenedorbanner{
        display: flex;
        height: 100%;
        padding: 0.5em;
        width: 100%;
        background-color: #fff;
        font-weight: bold;
        flex-direction: row;
        gap: 0.2em;
        justify-content: space-evenly;
    }

    .bannertexto1{      
        font-size: 4em;
       color: #ae8647;
       list-style: none;
       text-decoration: none;
       font-family: 'Cinzel', serif;
       
    }
    
    .bannertexto2{         
        font-size: 4em;    
        color: #ae8647;
        list-style: none;
        text-decoration: none;
        font-family: 'Cinzel', serif;
    }
    
    .bannertexto3{   
        font-size: 4em;   
        color: #ae8647;
        list-style: none;
        text-decoration: none;
        font-family: 'Cinzel', serif;
    }
    
    .bannerparrafo{    
        text-align: center;
        margin-top: 9em;
        
    }
    
/* FIN BANNER */ 

/* NEWSLETTER */ 
#email{
    padding: 1em;
    width: 60em;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}

/* FIN NEWALWTTER */
}