
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #6f1d1b;
  font-family: "Cinzel";
  color: #ffe6a7;
  
}

h1,h2  {
  margin: 5px;
  font-family: "Roboto";
  font-size: 1rem;

}

h1 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
  padding: 11px;
}
h3{
  font-size: 0.8rem;
  font-family: "Roboto";
  margin: 5px;

}

form fieldset {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 0.8rem;
  margin: 5px;
}

form fieldset input {
  outline: none;
  border: none;
  margin: 5px;
  border-radius: 10px;
  height: 25px;
  width:100%;
  text-align: center;
}

select{
  outline: none;
  border: none;
  margin: 5px;
  border-radius: 10px;
  height: 25px;
}

#article-pos {
  background-image: url(../image/cafelargo3.jpeg);
  height: 20vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.flex-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

#banner-txt {
  font-family: "Dancing Script";
  color: #ffe6a7;
  font-size: 3rem;
}  


.ocultar {
  display: none;
}

#caja-pago{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
#caja-envio{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 14px;
}
.cajachica{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 23px;
  padding: 0px;
  height: 41vh;
  width: 54vw;
  border: 4px #774544 inset;
}
.cajainferior{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 12px;
}


.tipos-pago {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 35px;
  padding: 14px;
}
.tipos-pagos{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 26px;
}

.btn-buy {
  flex: 1 0 auto;
  background-color:#ffe6a7 ;
  color: #99582a;
  border-radius: 20px;
  margin: 10px 0px;
  font-size: 20px;
  padding: 5px 10px;
  transition: all 0.3 lineal;
}

.btn-buy:hover {
  background-color: #432818;
  color: #ffe6a7
}

.botonesabajo{
  padding: 20px;
}

.chk-txt {
  margin: 0px 0 5px 25px;
  font-size: 0.9rem;
}
.chk-input {
  margin: -19px 5px 5px 5px;
}

::placeholder{
  font-style: italic;
  font-size: 0.7rem;
  text-align: center;
}

@media screen and (min-width: 768px) {

  #banner-txt {
    font-size: 4rem;
  }
 
  form fieldset {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin: 9px 0px -10px 5px;
 
}

.btn-buy {
  
  margin: 5px 75px;
  font-size: 20px;
 
}

.btn-buy:hover {
  background-color: #432818;
}


.tipos-pago {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 14px;
}

.tipos-pagos{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 37px;
}

label {
  font-size: 0.8rem;
  margin: 5px;
  width: 120px
}
select{
  margin: 3px -14px 0 -14px;
}

@media screen and (min-width: 1200px) {
 
  #article-pos {
    height: 30vh;
  }
  .flex-text {
    height: 30vh;
  }

label{
  width: 240px;
  font-size: 1rem;
  height: 30px;
}
select{
  margin: 3px -14px 0 -40px;
}
.btn-buy {
  
  margin: 20px 75px;
  }
}
}