<footer>

    <section class="footer">              
        <picture class="contendorQr">
            <img class="imagenQr" src="/image/qr.jpg" alt="">
        </picture>

       <nav class="footernav">
       <li><a class="footerEnlace" href="">NOSOTROS</a></li>
       <li><a class="footerEnlace" href="">LEGALES</a></li>
       </nav>

       <nav class="footernav1">
        <li><a class="footerEnlace" href="/users/profile">MI CUENTA</a></li>
        <li><a class="footerEnlace" href="http://localhost:3000" target="_blank">DASHBOARD</a></li>
       </nav>

       <picture class="footericonos">
        <i class="fa-brands fa-whatsapp-square"></i><p class="footertexto">5555-COFI</p>
        <i class="fa-brands fa-facebook-square"></i><p class="footertexto">COFICLUB</p>
        <i class="fa-brands fa-instagram-square"></i><p class="footertexto">@COFICLUB</p>
       </picture>
    </section>

</footer>