<header>

    <section class="headerPrincipal cont-menu">

          <picture class="contenedorelementos1">
          <img class="logo" src= '/image/logoFinal.jpg'>

         </picture>
         <button class="contenedorelementos2">
            <i class="fas fa-bars"></i>
        </button> 
        <% if (user != null) { %> 
         <nav class="headerEnlaces">
            
             <li id="lienlace"><a class="enlaces" href="/">INICIO</a></li>
             <li id="lienlace"><a class="enlaces" href="/productDetail">SUSCRIPCIÓN</a></li>   
             <li id="lienlace"><a class="enlaces" href="/product">TIENDA</a></li>
             <li id="lienlace"><a class="enlaces" href="/users/register">REGISTRATE</a></li>
             <li id="lienlace"><a class="enlaces" href="/users/index">USUARIOS</a></li>         

             

         </nav>   
      
       <picture class="contenedorelementos1">
        <% if (user.avatar != null) { %>   
           <a class="iconos1" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>   
           <a class="iconos" href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
       </picture> 
       <% } else { %>   
        
        <picture class="contenedorelementos1">                    
            <a class="iconos1" href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a>   
            <a class="iconos" href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
        </picture>  
      
        <% } %> 

       
       <% } else { %>
         
        <nav class="headerEnlaces">
            <li id="lienlace"><a class="enlaces nav-li" href="/">INICIO</a></li>
            <li id="lienlace"><a class="enlaces nav-li" href="/users/register">REGISTRATE</a></li>
            <li id="lienlace"><a class="enlaces nav-li" href="/productDetail">SUSCRIPCIÓN</a></li>  
        </nav>  
            
            
        <picture class="contenedorelementos1">                    
            <a class="iconos" href="/users/login"><i class="fa-solid fa-circle-user"></i></a>
        </picture> 
          
         <% } %>  

         <script  src="../js/header.js"></script>
   </section>

</header>