<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME COFI</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="css/homes.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

</head>

<body>
    <header>

         <section class="headerPrincipal">
               <picture class="contenedorelementos1">
               <img class="logo" src= 'image/logoFinal.jpg'>
              </picture>

              <nav class="headerEnlaces">
                  <li id="lienlace"><a class="enlaces" href="">INICIO</a></li>
                  <li id="lienlace"><a class="enlaces" href="">SUSCRIPCION</a></li>
                  <li id="lienlace"><a class="enlaces" href="">TIENDA</a></li>
                  <li id="lienlace"><a class="enlaces" href="">EDUCACION</a></li>
                  <li id="lienlace"><a class="enlaces" href="">EXPERIENCIA</a></li>
              </nav>
           
            <picture class="contenedorelementos1">
                <a class="iconos" href=""><i class="fa-solid fa-cart-shopping"></i></a>          
                <a class="iconos" href=""><i class="fa-solid fa-circle-user"></i></a>
            </picture>
        
            <button class="contenedorelementos2">
                <i class="fas fa-bars"></i>
            </button>
        </section>

    </header>

    <main>
 
           <section class="contenedorgeneral">
    
               <nav class="contenedorcarrucel">
                   <li class="carrucelitem">
                      <img class="carrucelfoto" src="image/tazafull2.jpg" alt="">
                      <p class="carruceltexto1">Suscripción mensual desde $1200!! Tomá el café que disfruta el mundo, todos los días</p>
                      <p class="carruceltexto4">Suscripción mensual desde $1200!!</p>
                  </li> 
                  <li class="carrucelitem">
                    <img class="carrucelfoto" src="image/bolsafull.jpg" alt=""> 
                    <p class="carruceltexto2">Somos amantes del cafe !  Una comunidad para descubrir, disfrutar y aprender.</p>
                    <p class="carruceltexto5">Somos amantes del cafe ! </p>
                  </li>
                  <li class="carrucelitem">
                    <img class="carrucelfoto" src="image/granosfull.webp" alt="">
                    <p class="carruceltexto3">¿Buscás algo en particular? En nuestra tienda online podés comprar ese café que estás buscando.</p>
                    <p class="carruceltexto6">¿Buscás algo en particular? </p>
                  </li>  
               </nav>

           </section>

        <section >
            <h2 class="textoinformacion1">¿Como funciona la suscripcion?</h2>
            <article class="contenedorinformacion">
             <picture class="imagengeneral">
                 <img class="fotoimg" src="image/casitacafe.jpg" >
                 <h3 class="tituloinformacion">SELECCION</h3>
                 <p class="textoinformacion2">Te seleccionamos los mejores cafés de productores de la más alta calidad.</p>
             </picture>
             <picture class="imagengeneral">
                 <img class="fotoimg" src="image/balancecafe.jpg" >
                 <h3 class="tituloinformacion">CANTIDAD</h3>
                 <p class="textoinformacion2">Seleccioná cuánto necesitás, si chico, mediano o familiar.</p>
             </picture>
             <picture class="imagengeneral">
                 <img class="fotoimg" src="image/calendariocafe.jpg" >
                 <h3 class="tituloinformacion">AGENDALO</h3>
                 <p class="textoinformacion2">Podés recibir el café de manera mensual, bimestral o trimestral.</p>
             </picture>
            </article>
        </section>

 <section class="contenedorbanner">

     <article class="banner1">         
         <p class="bannerparrafo"><a class="bannertexto1" href="">CARRITO</a></p>
     </article>

     <article class="banner2">        
        <p class="bannerparrafo"><a class="bannertexto2" href="" >EDUCACION</a></p>
     </article>
     
     <article class="banner3">       
        <p class="bannerparrafo"><a class="bannertexto3" href="">EXPERIENCIA</a></p>
     </article>

 </section>

 <section>
       <article class="contenedorletter">
             <h3 class="tituloletter">SUSCRIBITE A NUESTRO NEWSLETTER</h3>
       </article>

       <form class="contenedorinputs">
             <fieldset class="correo">
                  <legend class="oculto">Correo electronico</legend>
                         <label class="oculto" for='correo'>Correo electronico</label>
                           <input type="email" id="email" name="correo" placeholder="EMAIL" >
               </fieldset>
               <fieldset class="botonenviar">
                <legend class="oculto">Botones de formularios</legend>
                       <button class="enviar" type="submit">ENVIAR</button>                       
               </fieldset>
       </form>    
     

 </section>
           
    </main>
    
    <footer>

        <section class="footer">              
            <picture class="contendorQr">
                <img class="imagenQr" src="image/qr.jpg" alt="">
            </picture>

           <nav class="footernav">
           <li><a class="footerEnlace" href="">NOSOTROS</a></li>
           <li><a class="footerEnlace" href="">LEGALES</a></li>
           </nav>

           <nav class="footernav1">
            <li><a class="footerEnlace" href="">MI CUENTA</a></li>
            <li><a class="footerEnlace"href="">PREGUNTAS FRECUENTES</a></li>
           </nav>

           <picture class="footericonos">
            <i class="fa-brands fa-whatsapp-square"></i><p class="footertexto">5555-COFI</p>
            <i class="fa-brands fa-facebook-square"></i><p class="footertexto">COFICLUB</p>
            <i class="fa-brands fa-instagram-square"></i><p class="footertexto">@COFICLUB</p>
           </picture>
        </section>

    </footer>
</body>
</html>