<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME COFI</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="css/homes.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header>

         <section class="headerPrincipal">
               <picture>
               <img class="logo" src= 'image/logoFinal.jpg'>
              </picture>

              <nav class="headerEnlaces">
                  <li><a class="enlaces" href="">INICIO</a></li>
                  <li><a class="enlaces" href="">SUSCRIPCION</a></li>
                  <li><a class="enlaces" href="">TIENDA</a></li>
                  <li><a class="enlaces" href="">EDUCACION</a></li>
                  <li><a class="enlaces" href="">EXPERIENCIA</a></li>
              </nav>
           
            <picture>
                <a class="iconos" href=""><i class="fa-solid fa-cart-shopping"></i></a>          
                <a class="iconos" href=""><i class="fa-solid fa-circle-user"></i></a>
            </picture>
        </section>

    </header>

    <main>

  <p id="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum repellendus consectetur harum recusandae explicabo porro soluta doloremque neque vel fugiat id, accusamus nulla totam consequatur ut dolorum itaque modi praesentium.</p>


    </main>
    
    <footer>

        <section class="footer">              
            <picture class="contendorQr">
                <img class="imagenQr" src="image/qr.jpg" alt="">
            </picture>

           <nav class="footernav">
           <li><a class="footerEnlace" href="">NOSOTROS</a></li>
           <li><a class="footerEnlace" href="">LEGALES</a></li>
           </nav>

           <nav class="footernav1">
            <li><a class="footerEnlace" href="">MI CUENTA</a></li>
            <li><a class="footerEnlace"href="">PREGUNTAS FRECUENTES</a></li>
           </nav>

           <picture class="footericonos">
            <i class="fa-brands fa-whatsapp-square"></i><p class="footertexto">5555-COFI</p>
            <i class="fa-brands fa-facebook-square"></i><p class="footertexto">COFICLUB</p>
            <i class="fa-brands fa-instagram-square"></i><p class="footertexto">@COFICLUB</p>
           </picture>
        </section>

    </footer>
</body>
</html>