<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/footer.css" rel="stylesheet">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>COFI LOGIN</title>
</head>

<body>
    <header>
        <section class="headerPrincipal">
            <picture class="contenedorelementos1">
                <img class="logo" src='image/logoFinal.jpg'>
            </picture>
            <nav class="headerEnlaces">
                <li id="lienlace"><a class="enlaces" href="home">INICIO</a></li>
                <li id="lienlace"><a class="enlaces" href="productDetail">SUSCRIPCION</a></li>
                <li id="lienlace"><a class="enlaces" href="#">TIENDA</a></li>
                <li id="lienlace"><a class="enlaces" href="#">EDUCACION</a></li>
                <li id="lienlace"><a class="enlaces" href="register">REGISTRATE</a></li>
            </nav>
            <picture class="contenedorelementos1">
                <a class="iconos" href="productCart"><i class="fa-solid fa-cart-shopping"></i></a>
                <a class="iconos" href="login"><i class="fa-solid fa-circle-user"></i></a>
            </picture>

            <button class="contenedorelementos2">
                <i class="fas fa-bars"></i>
            </button>
        </section>
    </header>
    <main>
        <section class="banner">
            <article class="imagenBanner">
                
                <h1>INGRESA</h1>
            </article>
        </section>
        
            
            <form>
                <h2>INGRESA TUS DATOS</h2>
                <fieldset >
                <input class="Email" type="text" placeholder="Email" name: Email id: Email value="" required></input>
                </fieldset>
                <fieldset>
                <input class="Contraseña" type="password" placeholder="Contraseña" name:password value=""
                    required></input>
                </fieldset>
                <fieldset>
                <input class="Contraseña" type="password" placeholder="Repite Contraseña" name:password value=""
                    required></input>
                </fieldset>
                <fieldset>
                <button class="botonEnviar" type="ENVIAR">ENVIAR</button>
                <button class="botonReset" type="reset">BORRAR</button>
                </fieldset> 
                <section class="leyendas">
                    <a class="olvidasteContraseña" href="¿Olvidaste la Contraseña?">¿Olvidaste la Contraseña?</a>
                    <a class="olvidasteUsuario" href="¿Olvidaste el Usuario?">¿Olvidaste el Usuario?</a>
                </section>
            </form>
            
        
    </main>
    <footer>
        <section class="footer">
            <picture class="contendorQr">
                <img class="imagenQr" src="image/qr.jpg" alt="">
            </picture>
            <nav class="footernav">
                <li><a class="footerEnlace" href="#">NOSOTROS</a></li>
                <li><a class="footerEnlace" href="#">LEGALES</a></li>
            </nav>
            <nav class="footernav1">
                <li><a class="footerEnlace" href="login">MI CUENTA</a></li>
                <li><a class="footerEnlace" href="#">PREGUNTAS FRECUENTES</a></li>
            </nav>
            <picture class="footericonos">
                <i class="fa-brands fa-whatsapp-square"></i>
                <p class="footertexto">5555-COFI</p>
                <i class="fa-brands fa-facebook-square"></i>
                <p class="footertexto">COFICLUB</p>
                <i class="fa-brands fa-instagram-square"></i>
                <p class="footertexto">@COFICLUB</p>
            </picture>
        </section>
    </footer>
</body>

</html>