<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Librerias-->
    <!--RESET-->
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset.css"
    />
    <!--Estilos-->
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title>Detalle de producto</title>
  </head>
  <body>
    <header>
      <section class="headerPrincipal">
        <picture>
          <img class="logo" src="image/logoSinfondo.png" />
        </picture>

        <nav class="headerEnlaces">
          <li><a class="enlaces" href="">INICIO</a></li>
          <li><a class="enlaces" href="">SUSCRIPCION</a></li>
          <li><a class="enlaces" href="">TIENDA</a></li>
          <li><a class="enlaces" href="">EDUCACION</a></li>
          <li><a class="enlaces" href="">EXPERIENCIA</a></li>
        </nav>

        <picture>
          <a class="iconos" href=""
            ><i class="fa-solid fa-cart-shopping"></i
          ></a>
          <a class="iconos" href=""><i class="fa-solid fa-circle-user"></i></a>
        </picture>
      </section>
    </header>
    <section id="article-pos">
      <article>
        <picture>
          <img
            id="banner"
            src="/image/banner-suscripcion.jpeg"
            alt="banner PRODUCTOS"
          />
        </picture>
      </article>
      <article>
        <p id="banner-txt">PRODUCTOS</p>
      </article>
    </section>
    <main>
      <section class="contenedor-cafe">
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2>
            250 gramos
          </h2>
          <h4>
            Precio: $1200
          </h4>
          <h5>
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>

        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2>
            500 gramos
          </h2>
          <h4>
            Precio: $1200
          </h4>
          <h5>
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2>
            750 gramos
          </h2>
          <h4>
            Precio: $3000
          </h4>
          <h5>
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2>
            1 kilo
          </h2>
          <h4>
            Precio: $4000
          </h4>
          <h5>
            Molienda:
          </h5>

          <form action="/productCart" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
               <button class="btn-buy" type="submit">Comprar</button>            
            </fieldset>
          </form>
        </article>
      </section>
    </main>
    <!-- <footer>
      <section class="footer">
        <picture class="contendorQr">
          <img class="imagenQr" src="image/qr.jpg" alt="" />
        </picture>

        <nav class="footernav">
          <li><a class="footerEnlace" href="">NOSOTROS</a></li>
          <li><a class="footerEnlace" href="">LEGALES</a></li>
        </nav>

        <nav class="footernav1">
          <li><a class="footerEnlace" href="/">MI CUENTA</a></li>
          <li><a class="footerEnlace" href="/">PREGUNTAS FRECUENTES</a></li>
        </nav>

        <picture class="footericonos">
          <i class="fa-brands fa-whatsapp-square"></i>
          <p class="footertexto">5555-COFI</p>
          <i class="fa-brands fa-facebook-square"></i>
          <p class="footertexto">COFICLUB</p>
          <i class="fa-brands fa-instagram-square"></i>
          <p class="footertexto">@COFICLUB</p>
        </picture>
      </section>
    </footer> -->
  </body>
</html>
