<!DOCTYPE html>
<html lang="es">
<%- include("./includes/head") %> 
<body>
    <%- include("./includes/header") %> 
 <main>
      <section id="article-pos">
        <article class="flex-text">
          <p id="banner-txt">SUSCRIPCIÓN</p>
        </article>
      </section>
      <section class="contenedor-cafe">
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2 class="items-suscripcion">
            250 gramos
          </h2>
          <h4 class="items-suscripcion">
            Precio: $1200
          </h4>
          <h5 class="items-suscripcion">
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>

        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2 class="items-suscripcion">
            500 gramos
          </h2>
          <h4 class="items-suscripcion">
            Precio: $1200
          </h4>
          <h5 class="items-suscripcion">
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2 class="items-suscripcion">
            750 gramos
          </h2>
          <h4 class="items-suscripcion">
            Precio: $3000
          </h4>
          <h5 class="items-suscripcion">
            Molienda:
          </h5>

          <form action="/" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>
        <article class="producto-cafe">
          <picture>
            <img
              class="imgbolsacafe ocultar"
              src="/image/bolsaCafeSinFondo.png"
              alt="Imagen Bolsa de Café"
            />
          </picture>

          <h2 class="items-suscripcion">
            1 kilo
          </h2>
          <h4 class="items-suscripcion">
            Precio: $4000
          </h4>
          <h5 class="items-suscripcion">
            Molienda:
          </h5>

          <form class action="/productCart" method="get">
            <fieldset>
              <legend class="ocultar">
                Molienda a elección
              </legend>
              <label class="chk-txt">Fina</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaFina"
                value="Fina"
              />
              <label class="chk-txt">Media</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaMedia"
                value="Media"
              />
              <label class="chk-txt">Gruesa</label>
              <input
                class="chk-input"
                type="checkbox"
                name="moliendaGruesa"
                value="Gruesa"
              />
            </fieldset>
            <fieldset>
              <button class="btn-buy" type="submit">Comprar</button>
            </fieldset>
          </form>
        </article>
      </section>
    </main>
    <%- include("./includes/footer") %> 

  </body>
</html>
