<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Librerias-->
    <!--RESET-->
    <link
      rel="stylesheet"
      href="https://meyerweb.com/eric/tools/css/reset/reset.css"
    />
    <!--Estilos-->
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/" />
    <title>Detalle de producto</title>
</head>
<body>
  <header></header>
  <main>
    <section>
        <article>
          <picture>
            <img src="/images/bolsaCafeFondo.jpeg" alt="Imagen Bolsa de Café" />
          </picture>
        </article>
        <article>
          <p>
            Suscripción a 250 gramos de café de especialidad:
          </p>
          <p>
            Precio: $1200
          </p>
          <form action="/" method="get">
            <fieldset>
              <legend>
                Molienda a elección - OCULTAR CON CLASS
              </legend>
              <label>Elegí la molienda:</label>
              <label for="fina">Fina</label>
              <input type="checkbox" name="moliendaFina" value="Fina" id="fina">
              <label for="media">Media</label>
              <input type="checkbox" name="moliendaMedia" value="Media" id="media">                    
              <label for="yoga">Gruesa</label>
              <input type="checkbox" name="moliendaGruesa" value="Gruesa" id="yoga">
              <input type="submit" value="Suscribirse">
            </fieldset>
          </form>
        </article>
      </section>

      <section>
        <article>
          <picture>
            <img src="/images/bolsaCafeFondo.jpeg" alt="Imagen Bolsa de Café" />
          </picture>
        </article>
        <article>
          <p>
            Suscripción a 500 gramos de café de especialidad:
          </p>
          <p>
            Precio: $1600
          </p>
          <form action="/" method="get">
            <fieldset>
              <legend>
                Molienda a elección - OCULTAR CON CLASS
              </legend>
              <label>Elegí la molienda:</label>
              <label for="fina">Fina</label>
              <input type="checkbox" name="moliendaFina" value="Fina" id="fina">
              <label for="media">Media</label>
              <input type="checkbox" name="moliendaMedia" value="Media" id="media">                    
              <label for="yoga">Gruesa</label>
              <input type="checkbox" name="moliendaGruesa" value="Gruesa" id="yoga">
              <input type="submit" value="Suscribirse">
            </fieldset>
          </form>
        </article>
      </section>

      <section>
        <article>
          <picture>
            <img src="/images/bolsaCafeFondo.jpeg" alt="Imagen Bolsa de Café" />
          </picture>
        </article>
        <article>
          <p>
            Suscripción a 750 gramos de café de especialidad:
          </p>
          <p>
            Precio: $2000
          </p>
          <form action="/" method="get">
            <fieldset>
              <legend>
                Molienda a elección - OCULTAR CON CLASS
              </legend>
              <label>Elegí la molienda:</label>
              <label for="fina">Fina</label>
              <input type="checkbox" name="moliendaFina" value="Fina" id="fina">
              <label for="media">Media</label>
              <input type="checkbox" name="moliendaMedia" value="Media" id="media">                    
              <label for="yoga">Gruesa</label>
              <input type="checkbox" name="moliendaGruesa" value="Gruesa" id="yoga">
              <input type="submit" value="Suscribirse">
            </fieldset>
          </form>
        </article>
      </section>

      <section>
        <article>
          <picture>
            <img src="/images/bolsaCafeFondo.jpeg" alt="Imagen Bolsa de Café" />
          </picture>
        </article>
        <article>
          <p>
            Suscripción a 1 kilo de café de especialidad:
          </p>
          <p>
            Precio: $2300
          </p>
          <form action="/" method="get">
            <fieldset>
              <legend>
                Molienda a elección - OCULTAR CON CLASS
              </legend>
              <label>Elegí la molienda:</label>
              <label for="fina">Fina</label>
              <input type="checkbox" name="moliendaFina" value="Fina" id="fina">
              <label for="media">Media</label>
              <input type="checkbox" name="moliendaMedia" value="Media" id="media">                    
              <label for="yoga">Gruesa</label>
              <input type="checkbox" name="moliendaGruesa" value="Gruesa" id="yoga">
              <input type="submit" value="Suscribirse">
            </fieldset>
          </form>
        </article>
      </section>
    </main>
    <footer>

    </footer>
</body>
</html>