* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    background-color: #6f1d1b;
    height: 80vh;
    color: #ffe6a7;
}

/* BANNER */

.conttitle{

background-image: url(../../image/cafelargo3.jpeg);
height: 20vh;
background-size: cover;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
font-size: 2em;

}

.title{

    font-family: "Dancing Script";
    color: #ffe6a7;
    font-size: 2em;

}


/* FIN BANNER */

/* FORMULARIO */

.contformulario{

    display: flex;
    height: 57vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.continput{

    padding: 1em;

}

.forminput{

    height: 3em;
    width: 30em;
    padding: 0 4em;
    border-radius: 10px;
    font-family: "Roboto";
    font-weight: bold;
}

.forminput1{

    font-size: 1em;
    color: #ffe6a7;
    
}


.boton{

    background-color: #ffe6a7;
    color: #432818;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s linear;
}

.boton:hover{

  background-color: #432818;
  color: #ffe6a7;
}
.titoferta{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 16px;
    animation: titoferta 0.5s infinite alternate;
}
    @keyframes titoferta {
        0%{
            opacity:.0.8;
        }
        100%{
            opacity:0;
         }
 }

.fa-edit {
    font-size: 3rem;
    color: #ffe6a7;
    margin-right: 3rem;
    transition: all 0.3s linear;
}

.fa-edit:hover{
    color: #432818;
    
    
}
.fa-trash-alt{
    font-size: 3rem;
    color:#ffe6a7 ;
    background-color: #6f1d1b;
    border: -10;
    cursor: pointer;
    transition: all 0.3s linear;
    
}
.fa-trash-alt:hover{
    color: #432818;
    
    
}
.tachito{
    border: none;
}
.iconos1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}
.cajaprod1{
    border: 4px #774544 inset;
    border-radius: 20px;
    display: flex;
    padding: 4rem;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 60%;
    align-items: center;
    margin: auto;
    font-size: 3vh;
}


/* FIN FORMULARIO */


@media  (min-width: 768px) {


    .title{

        font-size: 4em;

    }

    .forminput{

        height: 4em;
        width: 43em;

    }

    .cajaprod1{
        padding: 9rem;
        width: 60%;
    }

    .iconos1{
        margin-top: 35px;
    }

    


}