<!DOCTYPE html>
<html lang="es">

    <%- include("../includes/head") %> 
    <body>
        <%- include("../includes/header") %> 

    <main>
        <section class="banner">
            <article class="imagenBanner">
                
                <h1 id="banner-txt">INGRESA</h1>
            </article>
        </section>
        
            
            <form>
                <h2>INGRESA TUS DATOS</h2>
                <fieldset>
                <input class="Email" type="text" placeholder="Email" name="email" id="Email" value="" required>
                </fieldset>
                <fieldset>
                <input class="Contraseña" type="password" placeholder="Contraseña" name="password" value=""
                    required>
                </fieldset>
                <fieldset>
                <button class="botonEnviar" type="ENVIAR">ENVIAR</button>
                <button class="botonReset" type="reset">BORRAR</button>
                </fieldset> 
                <section class="leyendas">
                    <a class="olvidasteContraseña" href="¿Olvidaste la Contraseña?">¿Olvidaste la Contraseña?</a>
                    <a class="olvidasteUsuario" href="¿Olvidaste el Usuario?">¿Olvidaste el Usuario?</a>
                </section>
            </form>
            
        
    </main>
    <%- include("../includes/footer") %> 

</body>

</html>