<!DOCTYPE html>
<html lang="es">

    <%- include("../includes/head") %> 
    <body>
        <%- include("../includes/header") %> 

    <main>
   <h1>JUAN CAPO pero no cualquier JUAN, ojo!</h1>
        
    </main>
    <%- include("../includes/footer") %> 

</body>

</html>